@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #F5F7F8;
}

.main-carousel {
    height: 500px;
    width: 400px;
}

.carousel-cell {
    text-align: center;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 90%;
    height: 500px;
    margin-right: 10px;
    border-radius: 10px;
    background-color: #495E57;
    padding: 10px 20px;
}

.carousel-cell__photo-container {
    height: 110px;
    width: 110px;
    overflow: hidden;
    border-radius: 50%;
    margin-bottom: 20px;
}

.photo-container__photo {
    width: 100%;
}

.text-container__person-name {
    font-size: 22px;
    margin-bottom: 20px;
}

.text-container__opinion {
    letter-spacing: 0.5px;
}