@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&family=Roboto+Slab:wght@300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    align-content: center;
    justify-content: center;
    min-height: 100vh;
    flex-direction: column;
}

.carousel-cell {
    width: 50%;
    height: 160px;
    margin-right: 10px;
}